.card {
  margin: 1rem 0;
  padding: .25rem;
  width: calc(20% - 1rem);
  background-color: #333;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  * {
    margin-bottom: .5rem;
  }

  img {
    width: 100%;
    aspect-ratio: 3/4;
  }

  h5 {
    color: #777;
  }

  .year {
    font-size: .8rem
  }

  .rating {
    width: fit-content;
    aspect-ratio: 1;
    display: inline-block;
    margin-top: auto;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    align-self: center;
    text-align: center;
  }
}